<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
  <link rel="icon" href="{% static 'img/icon.png' %}">
  <title>Instagram</title>
</head>
<body>
  <li class="account_box" alt="로그인관련">
    {% if user.is_authenticated %}
      <button class="btn btn-outline-secondary"><a href="{% url 'logout' %}">로그아웃</a></button>
    {% else %}
      <button class="btn btn-outline-secondary"><a href="{% url 'login' %}">로그인</a></button>
    {% endif %}
    
  </li>
  <div class="container">
  {% block content %}
  {% endblock %}
  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>