<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="icon" href="{% static 'images/instagram.png' %}">
  <title>Clonestagram</title>
</head>
<body>
  <nav class="sticky-top navbar navbar-expand-sm navbar-light bg-white justify-content-center">
    <div class="container justify-content-center">
      <div class="d-flex justify-content-between" style="width: 935px;">
        <a class="navbar-brand" href="#">
        <img width="100" src="{% static 'images/Instagram_logo.png' %}" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>

        <div id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
              <img src="{% static 'images/home.jpg' %}" alt="home"></a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
              <img src="{% static '/images/send.jpg' %}" alt="send"></a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
              <img src="{% static '/images/edit.jpg/' %}" alt="edit"></a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
              <img src="{% static 'images/explore.jpg' %}" alt="explore"></a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
              <img src="{% static 'images/alarm.jpg' %}" alt="alarm"></a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{% static 'images/profile.jpg' %}" alt="profile">
              </a>

              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">
                <img src="{% static 'images/profile2.jpg' %}" alt="profile2">프로필</a>
                </li>

                <li><a class="dropdown-item" href="#">
                <img src="{% static 'images/bookmark2.jpg' %}" alt="bookmark2">저장됨</a>
                </li>

                <li><a class="dropdown-item" href="#">
                <img src="{% static 'images/setting.jpg' %}" alt="setting">설정</a>
                </li>

                <li><a class="dropdown-item" href="#">
                <img src="{% static 'images/switch.jpg' %}" alt="switch">계정 전환</a>
                </li>

                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logged:logout' %}">로그아웃</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
  {% block content %}
  <li class="logged_box" alt='로그인관련'>
    {% if user.is_authenticated %}
      <button class="btn btn-outline-secondary"><a href="{% url 'logout' %}">로그아웃</a></button>
    {% else %}
      <button class="btn btn-outline-secondary"><a href="{% url 'login' %}">로그인</a></button>
    {% endif %}
  </li>
  {% endblock %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>